body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
  color: #434455;
  background-color: #ffffff;
}

:root {
  background-color: #ffffff;
}
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  color: #2e2f42;
}

.list:focus {
  color: #404bbf;
}

.logo-black {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: "Raleway", sans-serif;
}

.logo-white {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
}

.nav-link {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:active {
  color: #404bbf;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-contact {
  color: var(--SLATE, #434455);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.nav-contact:hover {
  color: #404bbf;
}

.nav-contact:active {
  color: #404bbf;
}

.dark-bg {
  background: var(--NAVY-BLUE, #2e2f42);
}

.blue-button {
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.blue-button:focus {
  background-color: #404bbf;
}
.blue-button:hover {
  background: var(--OCEAN, #404bbf);
}

.third-text {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.card-text {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.first-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}
.second-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.light-bg {
  background: var(--CLOUD, #f4f4fd);
}
.footer {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
}

.filter-button {
  background-color: #f4f4fd;
  color: #4d5ae5;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.card {
  background-color: #ffffff;
}
